/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    box-sizing: border-box;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 67.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: radial-gradient(rgb(159, 103, 197),darkorchid,rgb(66, 5, 122));
	font-size: 1.5rem;
	height: 100vh
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section{
	display: flex;
	justify-content: center;
	/* padding-bottom: 2rem; */
}
h2{
	font-size: 2rem;
}
.top, .bottom{
	display: flex;
    /* border: 2px solid red; */
    height: 32vh;
	justify-content: center;
	align-items: center;
}
.top{
	display: flex;
}
.bottom{
	display: flex;
}
img {
	height: 22vh;
}
div{
	width: 100vw;	
	height: 5vh;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}
.footer {
	height: 10vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

button{
	background: radial-gradient(rgb(159, 103, 197),darkorchid,rgb(66, 5, 122));
	border-radius: .5rem;
	border: .01rem solid rgb(53, 51, 51);
	height: 2rem;
	margin: 0 .25rem 0 .25rem;
	padding: 0 .5rem 0 .5rem;
}
